# Đây là file workflow của GitHub Actions để tự động build package Maven và publish Docker image lên Docker Hub khi có thay đổi trên nhánh master.
name: Build Maven Package And Publish Docker Image

on:
  push:
    branches: [ master ]  # Chạy workflow khi có push lên nhánh master
  pull_request:
    branches: [ master ]  # Chạy workflow khi có pull request vào nhánh master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4     # Lấy mã nguồn từ repository
      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'     # Chọn bản phân phối Temurin của JDK
          cache: maven                # Kích hoạt cache cho Maven dependencies, giúp tăng tốc build

      - name: Build and Test with Maven
        run: mvn -B package --file pom.xml  # -B: batch mode, chạy không tương tác, có nghĩa là không yêu cầu nhập liệu từ người dùng

      - name: Extract Project Version
        run: echo "version=$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec)" >> $GITHUB_OUTPUT
        id: project

      - name: Show Project version
        run: echo ${{steps.project.outputs.version}}

      # Docker Build and Push
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2   # Thiết lập QEMU để hỗ trợ xây dựng đa kiến trúc

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            thaihx/be-last-dance:${{steps.project.outputs.version}}
            thaihx/be-last-dance:latest
